* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
:root {
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
    --small-font-size: .813rem;
  }

body {
    background-color: #CDE8E5;
}

.g-1 {
    margin-left: 8%;
    margin-top: 15%;
    position: relative;
    width: 40%; 
}

.pImg {
    position: absolute;
    width: 30%; 
    height: auto; 
    top: 5%; 
    right: 5%; 
    margin-top: 1%;
}

.pImg img {
    width: 100%;
    height: auto;
    border-radius: 50% 50%;
}


hr {
    border: white 10px solid;
}

.g-1 h2 {
    font-size: 2.2em;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1.5px white;
    background-image: linear-gradient(#4D869C, #130a62);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 500px 0;
    animation: animateText 6s linear infinite;
}

@keyframes animateText {
    0%, 95%, 100% {
        background-position: 500px 0; 
    }
    65%, 85% {
        background-position: 0 0; 
    }
}

.g-1 h1 {
    font-size: 50px;
}

.navbar,
.navbar-expand-lg,
.offcanvas {
    background-color: #7AB2B2;
}

.g-1 span {
    color: #4D869C;
}

.g-1 p {
    line-height: 20px;
    color: #000f1a;
}

.g-1 a {
    /* background-color: #4D869C; */
    background:linear-gradient(30deg, #4D869C,#ffff);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin: 20px 0;
}
@media only screen and (max-width: 600px) {
    .g-1 {
        margin-top: 30% ;
        width: 90%; 
        text-align: center; 
        position: relative; 
        z-index: 1; 
    }

    .pImg {
        position: static;
        width: 80%; 
        margin: 20px auto; 
        right: auto;
        top: auto;
    }

    .pImg img {
        width: 100%;
        height: auto;
    }

    .g-1 h1 {
        font-size: 24px; 
        line-height: 1.2; 
    }

    .g-1 h2 {
        font-size: 1.5em; 
    }

    .g-1 p {
        font-size: 14px; 
    }

    .g-1 a {
        margin: 10px 0;
        font-size: 14px; 
    }
}



.prj h2{
    color:#000f1a;
    text-align: center;
}

.cardcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.card {
    width: 325px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    transform: rotate3d(.5, -.866, 0, 15deg) rotate(1deg);
    transition: transform .4s ease, box-shadow .4s ease;
}

.card:hover {
    transform: rotate3d(0, 0, 0, 0deg) rotate(0deg);
}

.card img {
    width: 100%;
    height: auto;
}

.card p {
    justify-content: center;
    margin: 1%;
}

.card a {
    text-decoration: none;
    color: #000f1a;
}

.card a:hover {
    transform: rotate3d(0, 0, 0, 0deg) rotate(0deg);
}
@media screen and (min-width: 1120px) {
    :root {
      --h2-font-size: 1.5rem;
      --small-font-size: .875rem;
    }
  }
  .container1 {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
  }
  
  .card__container {
    display: grid;
    row-gap: 3.5rem;
  }
  
  .card__article {
    position: relative;
    overflow: hidden;
  }
  
  .card__img {
    width: 328px;
    border-radius: 1.5rem;
  }
  
  .card__data {
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
  }
  
  .card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
  }
  
  .card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
  }
  
  .card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  
  .card__article:hover {
    animation: remove-overflow 2s forwards;
  }
  
  .card__article:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  
  .card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
  }
  
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }
  

  @media screen and (min-width: 768px) {
    .card__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }


.about {
    padding: 50px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    
}

.about p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

@media screen and (max-width: 768px) {
    .about {
        padding: 40px 20px;
    }

    .about h2 {
        font-size: 28px;
        
    }

    .about p {
        font-size: 14px;
    }
}

.cnt2{
    background-color: #CDE8E5;
    padding:15px 9%;
    padding-bottom: 100px;
}
.cnt2 .hed{
    text-align: center;
    padding-bottom: 15px;
    color: #010101;
    text-shadow: 0 5px 10px rgba(0, 0, 0,.2 ) ;
    font-size: 50px;
}
.cnt2 .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 15px;
}
.cnt2 .box-container .box{
    box-shadow: 0 5px black;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    padding: 20px 3px;
}
.cnt2 .box-container .box img{
    height: 80px;
}
.cnt2 .box-container .box h3{
   font-size: 22px;
   padding: 10px 0;
}
.cnt2 .box-container .box p{
    font-size:15px;
    line-height: 1.8;
}
.cnt2 .box-container .box:hover{
    transform: scale(1.4);
    box-shadow: 0 10px 15px rgba(0,0, 0, .3);
}
@media(max-width:768px){
    .cnt2{
        padding: 20px;
    }
}

.footer{
    background-color: #4D869C;
    margin: auto;
}
.rw{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}
.cont{
    max-width: 1170px;
    margin: auto;
}
.footer-col ul{
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 3% 15px;
    position: relative;
    flex: 1;
}
.footer-col img{
    height: auto;
    width: 100%;
}

.footer-col h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #08242f;
    height: 2px;
    width: 50px;
}

.footer-col ul {
    list-style: none;
    padding: 0; 
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a,
.footer-col Address {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #050505;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
}
.footer-col .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    background-color: #555;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}
.footer-col .social-link a:hover{
    color: #555;
    background-color: #fff;
}
.map-responsive-wrapper {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive-wrapper iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-col h4::before {
        width: 30px; 
    }
}
@media(max-width: 567px){
    .footer-col{
        width: 100%;
    }
    .footer-col h4::before {
        width: 20px; 
    }
}







